<div class="ow_automargin ow_superwide">
    {form name='AudioForm'}
    <table class="ow_table_1 ow_form">
        <tr>
            <td class="ow_label">{text key="frmaudio+audio_in_dashbord"}</td>
            <td class="ow_value">{input name="audio_dashbord"}</td>
        </tr>
        <tr>
            <td class="ow_label">{text key="frmaudio+audio_in_profile"}</td>
            <td class="ow_value">{input name="audio_profile"}</td>
        </tr>
        <tr>
            <td class="ow_label">{text key="frmaudio+audio_in_forum"}</td>
            <td class="ow_value">{input name="audio_forum"}</td>
        </tr>
        <tr class="ow_tr_last ow_center">
            <td colspan="2">
                {submit name='saveSettings'}
            </td>
        </tr>
    </table>
    {/form}
</div>
