<div class="ow_automargin ow_superwide">
    {form name='channel_upload'}
    <table class="ow_table_1 ow_form">
        <tr>
            <td class="ow_value">{input name="file"} {error name='file'}</td>
            <td class="ow_label">{text key="frmtelegramimport+file_label"}
                <div style="text-align: center">
                    <a href="{$helpUrl}">{$helpTitle}</a>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="ow_submit">{submit name="submit" class='ow_ic_save'}</td>
        </tr>
    </table>
    {/form}
</div>
