
<div class="ow_std_margin clearfix">
    {form name="settings"}
        <table class="ow_table_1 ow_form" style="margin: 0">
            <tbody>
                <tr class="ow_alt1">
                    <td width="1" class="ow_label">
                        {label name='ssoLoginUrl'}
                    </td>
                    <td class="ow_value">
                        {input name='ssoLoginUrl'}
                        {error name='ssoLoginUrl'}
                    </td>
                </tr>
                <tr class="ow_alt1">
                    <td width="1" class="ow_label">
                        {label name='ssoLogoutUrl'}
                    </td>
                    <td class="ow_value">
                        {input name='ssoLogoutUrl'}
                        {error name='ssoLogoutUrl'}
                    </td>
                </tr>
                <tr class="ow_alt1">
                    <td width="1" class="ow_label">
                        {label name='ssoRegistrationUrl'}
                    </td>
                    <td class="ow_value">
                        {input name='ssoRegistrationUrl'}
                        {error name='ssoRegistrationUrl'}
                    </td>
                </tr>
                <tr class="ow_alt1">
                    <td width="1" class="ow_label">
                        {label name='ssoChangePasswordUrl'}
                    </td>
                    <td class="ow_value">
                        {input name='ssoChangePasswordUrl'}
                        {error name='ssoChangePasswordUrl'}
                    </td>
                </tr>
                <tr class="ow_alt1">
                    <td width="1" class="ow_label">
                        {label name='usersDetailsUrl'}
                    </td>
                    <td class="ow_value">
                        {input name='usersDetailsUrl'}
                        {error name='usersDetailsUrl'}
                    </td>
                </tr>
                <tr class="ow_alt1">
                    <td width="1" class="ow_label">
                        {label name='ssoGetToken'}
                    </td>
                    <td class="ow_value">
                        {input name='ssoGetToken'}
                        {error name='ssoGetToken'}
                    </td>
                </tr>
                <tr class="ow_alt1">
                    <td width="1" class="ow_label">
                        {label name='autoRegisterUsers'}
                    </td>
                    <td class="ow_value">
                        {input name='autoRegisterUsers'}
                        {error name='autoRegisterUsers'}
                    </td>
                </tr>

                <tr class="ow_tr_last ow_center">
                    <td colspan="2">
                        {submit name='save'}
                    </td>
                </tr>
            </tbody>
        </table>
    {/form}
</div>
