<div class="ow_lp_avatars">
    {foreach from=$userIdList item='id'}
    <div class="pending_avatar" id="pending_avatar{$id}{$more}">
        <span class="revoke_invitation"  title="{text key='frmgroupsplus+cancel_invitation'}" onclick="
        var jc = $.confirm($(this).data('confirm-msg'));
        jc.buttons.ok.action = function (){
            revokeButtonClickListener({$id}, {$groupId}, '{$revokeInvitationUrl}');
        }">
        </span>
        {decorator name="avatar_item" data=$data[$id]}
    </div>
    {foreachelse}
    <div class="ow_nocontent">{text key='frmgroupsplus+no_pending_invitation'}</div>
    {/foreach}
</div>
{if $more}
<ul class="ow_box_toolbar ow_remark ow_bl">
    <li>
        <a class="ow_cursor_pointer" onclick="{$ShowPendingAllUsersUrl}">
            {text key="base+view_all"}
        </a>
    </li>
</ul>
{/if}