{*

/**
* 
* All rights reserved.
*/

*}
<div class="ow_txtcenter">
    <div class="resend_Email_Change_Password_Icon"></div>
    {if $password_is_invalid}
    <h1>
        {text key="frmpasswordchangeinterval+password_is_invalid_header"}
    </h1>
    {if $token_is_expired}
    <p>
        {text key="frmpasswordchangeinterval+token_is_expired_description"}
    </p>
    {/if}
    <p>
        {text key="frmpasswordchangeinterval+password_is_invalid_description"}
    </p>

    <ul class="ow_box_toolbar ow_remark ow_bl resend_Email_Change_Password_Url">
        <li class="resend_Email_Change_Password_Url">
            <a href="{$resendEmailChangePasswordUrl}">{text
                key="frmpasswordchangeinterval+resend_email_change_password_label"}
            </a>
        </li>
    </ul>

    {else}
    <p style="text-align: center;padding-bottom: 20px;">
        {$formText}
    </p>
    {form name='change-user-password'}
    <div style="width: 300px;margin: 0 auto;">
        {label name='currentPassword'}{input name='currentPassword' class='ow_smallmargin'}<div>{error name='currentPassword'}</div>
        {label name='password'}{input name='password' class='ow_smallmargin'}<div>{error name='password'}</div>
        {label name='repeatPassword'}{input name='repeatPassword' class='ow_smallmargin'}<div>{error name="repeatPassword"}</div>
        <div style="margin-top: 10px">
            {submit name='submit' class='ow_positive'}
            <span class="ow_button">
                <input  type="button" value="{text key='base+forgot_password_label'}" onclick="window.location='{url_for_route for="frmpasswordchangeinterval.forgot.password"}'" />
            </span>
        </div>
    </div>
    {/form}
    {/if}
</div>
