<div class="ow_user_activity_follow_and_following_counter">
    <div class="ow_activity_counter_item followers">
        <span class="ow_activity_counter_count">{$followersCount}</span>
        <span class="ow_activity_counter_label">{text key='newsfeed+show_followers_count'}</span>
    </div>
    <div class="ow_activity_counter_item following">
        <span class="ow_activity_counter_count">{$followingCount}</span>
        <span class="ow_activity_counter_label">{text key='newsfeed+show_followings_count'}</span>
    </div>
    <div class="ow_activity_counter_item posts">
        <span class="ow_activity_counter_count">{$postsCount}</span>
        <span class="ow_activity_counter_label">{text key='newsfeed+show_posts_count'}</span>
    </div>
</div>