{style}
position: relative;
font-size: 20px;
margin-top: 20px;
}
.ow_dnd_widget.index-FRMJCSE_CMP_InfoWidget .statistical_info .statistical_info_item .statistical_info_item_title{
position: relative;
}

{/style}


<div class="statistical_info">
    {foreach from=$items item='item'}
    <div class="statistical_info_item">
        <div class="statistical_info_item_count" id="statistical_info_item_count_{$item.class}">{$item.count}</div>
        <div class="statistical_info_item_title">{$item.title}</div>
    </div>
    {/foreach}
</div>
