<?xml version="1.0" encoding="utf-8"?>

<plugin>
	<name>ورود با حساب کاربری Gmail</name>
	<key>frmgmailconnect</key>
	
    <author>Farzan</author>
    <authorEmail>test@test.com</authorEmail>
    <authorUrl>test.test.com</authorUrl>
    <developerKey>12345</developerKey>
    <build>10832</build>
    <copyright>2023</copyright>
    <license>No License</license>
    <licenseUrl>No License</licenseUrl>
    <category>
        <item>published</item>
    </category>
    <installable>0</installable>
    <plan>2</plan>
</plugin>
