ow_includes/config.php
ow_libraries/htmlpurifier
ow_libraries/html5lib-php-0.1/
ow_smarty/template_c/*
!ow_smarty/template_c/.gitignore

ow_unittest/codeception/tests/_output/*
ow_unittest/codeception/tests/_support/_generated/*
ow_unittest/codeception/Settings.php

ow_libraries/vendor

favicon.ico
.settings
.project
.buildpath
.DS_Store
.idea
error_log
access_log
blank
build
.owr
owr.sh
owr.py

ow_log/*
!ow_log/.htaccess


ow_userfiles/*
ow_pluginfiles/*

ow_static/plugins/*
!ow_static/plugins/base/
!ow_static/plugins/admin/
ow_static/themes/*
!ow_static/themes/.gitkeep

*.csv
ow_frm/test/performance/output.csv
/ow_plugins/broadcast.zip
