<div class="services_enterprise">
    <div class="container">
        <span class="widget-label-1">خدمات برای صنایع و سازمان‌ها</span>
        <div class="container-1">

            <div class="services_objects-1">
                <a href="#services" class="circle-service-1">
                    <div id="production" ></div>
                </a>
                <h3 class="service-h3">توسعه محصول</h3>
            </div>

            <div class="services_objects-1">
                <a href="#services" class="circle-service-1">
                    <div id="consultation" ></div>
                </a>
                <h3 class="service-h3">مشاوره فنی و مهندسی</h3>
            </div>

            <div class="services_objects-1">
                <a href="#services" class="circle-service-1">
                    <div id="forth_agent" ></div>
                </a>
                <h3 class="service-h3">عاملیت چهارم</h3>
            </div>

            <div class="services_objects-1">
                <a href="#services" class="circle-service-1">
                    <div id="transfer_tech" ></div>
                </a>
                <h3 class="service-h3">انتقال فناوری</h3>
            </div>

            <div class="services_objects-1">
                <a href="#services" class="circle-service-1">
                    <div id="atract_intelligent" ></div>
                </a>
                <h3 class="service-h3">جذب استعدادها</h3>
            </div>

            <div class="services_objects-1">
                <a href="#services" class="circle-service-1">
                    <div id="teaching" ></div>
                </a>
                <h3 class="service-h3">آموزش‌های تخصصی</h3>
            </div>

            <div class="services_objects-1">
                <a href="#services" class="circle-service-1">
                    <div id="laboratory" ></div>
                </a>
                <h3 class="service-h3">خدمات آزمایشگاهی</h3>
            </div>
        </div>
    </div>
</div>