<div class="services_uni_members">
    <div class="container">
        <span class="widget-label-2">خدمات برای اعضای دانشگاه</span>
        <div class="container-2">

            <div class="services_objects-2">
                <a href="#services" class="circle-service-2">
                    <div id="technology" ></div>
                </a>
                <h3 class="service-h3">حمایت از تجاری ‌سازی محصول</h3>
            </div>

            <div class="services_objects-2">
                <a href="#services" class="circle-service-2">
                    <div id="conceptual" ></div>
                </a>
                <h3 class="service-h3">حمایت از ثبت دارایی‌های فکری</h3>
            </div>

            <div class="services_objects-2">
                <a href="#services" class="circle-service-2">
                    <div id="marketing" ></div>
                </a>
                <h3 class="service-h3">بازاریابی فناوری</h3>
            </div>

        </div>
    </div>
</div>