{*

/**
 * 
 * All rights reserved.
 */

*}

<div>
    <div class="ow_BlockingPage"></div>
    <div class="ow_txtcenter">
        <h1 class="ow_icon_control ow_ic_moderator ow_smallmargin">
            {text key="frmblockingip+title_locked"}
        </h1>
        <div class="ow_textBlockingPage">
            <p>
                {text key="frmblockingip+description_locked"}
            </p>
        </div>
        <div class="ow_timeBlockingPage">
            <p>
                {$release_time}
            </p>
        </div>
    </div>
</div>
