<div class="ow_automargin ow_superwide">
    {form name='setting'}
    <table class="ow_table_1 ow_form">
        <tr>
            <td class="ow_label">{label name="user_id"}</td>
            <td class="ow_value">{input name="user_id"} {error name='user_id'}</td>
        </tr>
        <tr>
            <td class="ow_label">{label name="password"}</td>
            <td class="ow_value">{input name="password"} {error name='password'}</td>
        </tr>
        <tr>
            <td class="ow_label">{label name="originator"}</td>
            <td class="ow_value">{input name="originator"} {error name='originator'}</td>
        </tr>
        <tr>
            <td class="ow_label">{label name="url"}</td>
            <td class="ow_value">{input name="url"} {error name='url'}</td>
        </tr>
        <tr>
            <td colspan="2" class="ow_submit">{submit name="submit" class='ow_ic_save'}</td>
        </tr>
    </table>
    {/form}
</div>