<div class="ow_automargin ow_superwide">
    {form name='setting'}
    <table class="ow_table_1 ow_form">
        <tr>
            <td class="ow_label">{label name="apikey"}</td>
            <td class="ow_value">{input name="apikey"} {error name='apikey'}</td>
        </tr>
        <tr>
            <td class="ow_label">{label name="sender"}</td>
            <td class="ow_value">{input name="sender"} {error name='sender'}</td>
        </tr>
        <tr>
            <td class="ow_label">{label name="url"}</td>
            <td class="ow_value">{input name="url"} {error name='url'}</td>
        </tr>
        <tr>
            <td colspan="2" class="ow_submit">{submit name="submit" class='ow_ic_save'}</td>
        </tr>
    </table>
    {/form}
</div>