<br/>
<a href="{$returnToCompetitionsUrl}">{text key="frmcompetition+return"}</a>
<br/>
<br/>
<div class="place_section left_section">
    <div class="ow_std_margin clearfix">
        {form name="competition"}
        <table class="ow_table_1 ow_form" style="margin: 0">
            <tbody>
            <tr>
                <th colspan="2">{text key="frmcompetition+edit_competitions_form"}</th>
            </tr>
            <tr class="ow_alt1">
                <td width="1" class="ow_label">
                    {label name='title'}
                </td>
                <td class="ow_value">
                    {input name='title'}
                    {error name='title'}
                </td>
            </tr>
            <tr class="ow_alt1">
                <td width="1" class="ow_label">
                    {label name='description'}
                </td>
                <td class="ow_value">
                    {input name='description'}
                    {error name='description'}
                </td>
            </tr>
            <tr class="ow_alt1">
                <td width="1" class="ow_label">
                    {label name='type'}
                </td>
                <td class="ow_value">
                    {input name='type'}
                    {error name='type'}
                </td>
            </tr>
            {if isset($competitionImageSrc)}
            <tr class="ow_alt1">
                <td width="1" class="ow_label">
                    {text key="frmcompetition+saved_image"}
                </td>
                <td class="ow_value">
                    <img style="max-width: 300px" src="{$competitionImageSrc}" alt="{$competitionTitle}" />
                </td>
            </tr>
            {/if}
            <tr class="ow_alt1">
                <td width="1" class="ow_label">
                    {label name='image'}
                </td>
                <td class="ow_value">
                    {input name='image'}
                    {error name='image'}
                </td>
            </tr>
            <tr class="ow_alt1">
                <td width="1" class="ow_label">
                    {label name='active'}
                </td>
                <td class="ow_value">
                    {input name='active'}
                    {error name='active'}
                </td>
            </tr>
            <tr class="ow_alt1">
                <td width="1" class="ow_label">
                    {label name='enSentNotification'}
                </td>
                <td class="ow_value">
                    {input name='enSentNotification'}
                </td>
            </tr>
            <tr class="ow_alt1">
                <td width="1" class="ow_label">
                    {label name='startDate'}
                </td>
                <td class="ow_value">
                    {input name='startDate'}
                    {error name='startDate'}
                </td>
            </tr>
            <tr class="ow_alt1">
                <td width="1" class="ow_label">
                    {label name='endDate'}
                </td>
                <td class="ow_value">
                    {input name='endDate'}
                    {error name='endDate'}
                </td>
            </tr>
            <tr class="ow_tr_last ow_center">
                <td colspan="3">
                    {submit name='submit'}
                </td>
            </tr>
            </tbody>
        </table>
        {/form}
    </div>
</div>