{*

/**
 * 
 * All rights reserved.
 */

*}

<div class="ow_content_menu_wrap">
    <ul class="ow_content_menu clearfix">
        {foreach from=$sections item='section' name='contentMenu'}
        <li class="{if $section.active} active{/if}"><a href="{$section.url}"><span class="{if isset($section.iconClass)} {$section.iconClass} {/if}">{$section.label}</span></a></li>
        {/foreach}
    </ul>
    {if !empty($subsections) }
    <ul class="ow_content_menu clearfix">
        {foreach from=$subsections item='section' name='contentMenu'}
        <li class="{if $section.active} active{/if}"><a href="{$section.url}"><span class="{if isset($section.iconClass)} {$section.iconClass} {/if}">{$section.label}</span></a></li>
        {/foreach}
    </ul>
    {/if}
</div>

{if $noGroup}
{form name="mainForm"}
<table class="ow_table_1 ow_form" style="margin: 0">
    <tbody>
    <tr class="ow_tr_first ow_center">
        <td class="ow_value">
            {label name='gId'}{input name='gId'}{error name="gId"}
        </td>
    </tr>
    <tr class="ow_tr_last ow_center">
        <td>
            {submit name="submit" langLabel='frmgraph+display' }
        </td>
    </tr>
    </tbody>
</table>
{/form}
{else}
{$groupComponent}
{if isset($lastCalculationDate)}
    <p class="graphy_last_update_time">{text key='frmgraph+last_calculation_date'}: {$lastCalculationDate}</p>
{/if}
<table class="ow_table_1 frmgraph_table" style="margin: 0">
    <tbody>
    <tr class="ow_tr_first ow_center">
        <th class="ow_label"></th>
        <th class="ow_value"></th>
    </tr>
    {foreach from=$groupData key='key' item='item'}
    <tr class="ow_center">
        <td class="ow_label">
            {$item.label}
            {if in_array($key, $tooltipKeyList)}
                {component class='FRMGRAPH_CMP_TooltipIcon' text=$tooltipList[$key]}
            {/if}
        </td>
        <td class="ow_value">
            {$item.value}
        </td>
    </tr>
    {/foreach}
    </tbody>
</table>
{/if}