<div class="owm_full_page_form ow_superwide ow_automargin">

    <div class="owm_box">
        {text key='frmcontrolkids+parents_kids_message' kidsAge=$kidsAge}
    </div>


    {form name='add_parent_email'}
<div class="owm_form_field_container">
    <div class="owm_form_field_wrap">
        <div class="owm_form_field_label">{label name='parentEmail'}</div>
        <div class="owm_form_field_value">{input name='parentEmail'}</div>
    </div>
</div>
<div class="owm_form_field_container">
    <div class="owm_form_field_wrap">
        <div class="owm_form_field_label"></div>
        <td class="ow_center" colspan="2">{submit name='add' class='ow_button ow_ic_save'}</td>
    </div>
</div>
{/form}
</div>