<div class="ow_std_margin clearfix">
    {form name='editAnswer'}
    <table class="ow_table_1 ow_form" style="margin: 0">
        <tbody>
            <tr class="ow_alt1">
                <td width="1" class="ow_label">
                    {label name='title'}
                </td>
                <td class="ow_value">
                    {input name='title'}
                    {error name='title'}
                </td>
            </tr>
            <tr class="ow_alt1">
                <td width="1" class="ow_label">
                    {label name='correct'}
                </td>
                <td class="ow_value">
                    {input name='correct'}
                    {error name='correct'}
                </td>
            </tr>
            <tr class="ow_tr_last ow_center">
                <td colspan="3">
                    {submit name='submit'}
                </td>
            </tr>
        </tbody>
    </table>
    {/form}
</div>
