<div class="countdown text-center">

    <h1>ثبت‌نام در دوره امنیت فضای مجازی</h1>

    <div class="registration_box">
        <span>
            <p>
            همین الان ثبت‌نام کنید.
            </p>
        </span>
        <a>ثبت‌نام</a>
    </div>

    <div class="timer_counter_for_courses">
        <div class="time-circle">
            <div class="progress"></div>
            <span class="time days"></span>
            <span class="time-name">{text key="frmcertedu+day"}</span>
        </div>

        <span class="dots">:</span>
        <div class="time-circle">
            <div class="progress"></div>
            <span class="time hours"></span>
            <span class="time-name">{text key="frmcertedu+hours"}</span>
        </div>

        <span class="dots">:</span>
        <div class="time-circle">
            <div class="progress"></div>
            <span class="time minutes"></span>
            <span class="time-name">{text key="frmcertedu+minutes"}</span>
        </div>

        <span class="dots">:</span>
        <div class="time-circle">
            <div class="progress"></div>
            <span class="time seconds"></span>
            <span class="time-name">{text key="frmcertedu+seconds"}</span>
        </div>
    </div>

</div>