<div class="courses_widget">
    <div class="courses_list">
        <div class="course course_1">
            <div class="course_container">
                <a href="/" class="course_details_link">
                    <img class="course_image" src="/ow_userfiles/themes/theme_image_11.png" alt="">
                    <button class="course_read_more_button">{text key="frmcertedu+read_more"}</button>
                </a>
                <b><h3 class="course_title">دوره CCNA</h3></b>
                <p class="course_description">دوره CCNA شامل اطلاعات پایه ای در مورد شبکه های WAN و LAN و نحوه نصب و راه اندازی تجهیزات سخت افزاری تحت شبکه از قبیل روتر و سوئیچ می باشد.</p>
                <div class="divider"></div>
                <p class="course_price">هزینه: 14,000,000 ریال</p>
            </div>
        </div>
        <div class="course course_2">
            <div class="course_container">
                <a href="/" class="course_details_link">
                    <img class="course_image" src="/ow_userfiles/themes/theme_image_10.png" alt="">
                    <button class="course_read_more_button">{text key="frmcertedu+read_more"}</button>
                </a>
                <b><h3 class="course_title">دوره کامپتیا-Security Plus</h3></b>
                <p class="course_description">دوره +Security کامپتیا با هدف آموزش مبانی امنیت به کلیه متخصصین فن آوری اطلاعات ایجاد گردیده است. یکی از نقاط تمرکز دوره بر روی واژگان و اصطلاحات فنی امنیت و همچنین آشناسازی متقاضیان با انواع تهدیدات امنیتی سیستم ها می باشد .</p>
                <div class="divider"></div>
                <p class="course_price">هزینه: 7,300,000 ریال</p>
            </div>
        </div>
        <div class="course course_3">
            <div class="course_container">
                <a href="/" class="course_details_link">
                    <img class="course_image" src="/ow_userfiles/themes/theme_image_9.jpg" alt="">
                    <button class="course_read_more_button">{text key="frmcertedu+read_more"}</button>
                </a>
                <b><h3 class="course_title">دوره CISSP</h3></b>
                <p class="course_description">این دوره مناسب افرادی است که قصد دارند در زمینه امنیت، دانش و مهارت لازم را به طور منسجم کسب نمایند.این دوره از مبانی امنیت و مفاهیم بنیادی آغاز گردیده و سپس وارد مباحث فنی و به روز امنیت و نفوذ می گردد.</p>
                <div class="divider"></div>
                <p class="course_price">هزینه: 29,900,000 ریال</p>
            </div>
        </div>
        <div class="course course_4">
            <div class="course_container">
                <a href="/" class="course_details_link">
                    <img class="course_image" src="/ow_userfiles/themes/theme_image_5.png" alt="">
                    <button class="course_read_more_button">{text key="frmcertedu+read_more"}</button>
                </a>
                <b><h3 class="course_title">دوره کلید عمومی PKI</h3></b>
                <p class="course_description">هدف این دوره آشنایی مدیران و کارشناسان با مفاهیم زیرساخت کلید عمومی، رمز نگاری و امنیت انتقال داده جهت تصمیم گیری در سازمانها و بکارگیری این امکانات و مدیریت آن در سازمان خواهد بود.</p>
                <div class="divider"></div>
                <p class="course_price">هزینه: 14,380,000 ریال</p>
            </div>
        </div>
    </div>
</div>
