<div class="faq_widget">
    <div class="faq_container">

        <div class="faq">
            <div class="faq_question active">منظور از مفهوم دوره‌های آموزشی چیست؟
                <span class="faq_question_toggle"></span>
            </div>
            <div class="faq_answer">
                این دوره‌ها، دوره‌های خاصی هستند که همواره بهترین اساتید و مجرب‌ترین انسان‌ها در این کلاس‌ها تدریس خواهند داشت.
            </div>
        </div>

        <div class="faq">
            <div class="faq_question">هزینه‌های دوره‌های آموزشی چقدر است؟
                <span class="faq_question_toggle">+</span>
            </div>
            <div class="faq_answer">
                در لیست کلاس‌هایی که در حال برگذاری هستند، می‌توانید حدود قیمت دوره‌ها را بیابید. در آینده نیز دوره‌هایی که برگزار خواهند شد در بخشی جداگانه قابل برررسی خواهند بود.
            </div>
        </div>


        <div class="faq">
            <div class="faq_question">در صورتی که موفق به کسب نمره حد نصاب در دوره‌ها نشوید چه اتفاقی رخ خواهد داد؟
                <span class="faq_question_toggle">+</span>
            </div>
            <div class="faq_answer">
با توجه به اهمیت موضوع مهم است که تمامی کارآموزان حداقل نمره لازم را کسب کنند.            </div>
        </div>


        <div class="faq">
            <div class="faq_question">امکان استفاده همزمان از دوره‌های آموزشی وجود دارد؟
                <span class="faq_question_toggle">+</span>
            </div>
            <div class="faq_answer">
در صورتی که دوره‌های مورد نظر از نظر زمانی باهم تداخل نداشته باشند مشکلی وجود ندارد.            </div>
        </div>


        <div class="faq">
            <div class="faq_question">منظور از آزمون محافظت شده چیست؟
                <span class="faq_question_toggle">+</span>
            </div>
            <div class="faq_answer">
منظور آزمونی است که در آن تمام مسائل امنیتی جهت برگزاری سالم آزمون رعایت شده باشد.            </div>
        </div>


        <div class="faq">
            <div class="faq_question">آزمون‌ها معمولا در کجا برگزار می‌شوند؟
                <span class="faq_question_toggle">+</span>
            </div>
            <div class="faq_answer">
آزمون دوره‌ها معمولا در محل مرکز ماهر برگزار می‌شوند.            </div>
        </div>


        <div class="faq">
            <div class="faq_question">آیا امکان شرکت در دوره‌ها بعد از شروع آن‌ها وجود دارد؟
                <span class="faq_question_toggle">+</span>
            </div>
            <div class="faq_answer">
در صورتی که دو یا سه جلسه از دوره‌ای تشکیل شده باشد این امکان وجود دارد. در غیر این صورت اجازه شرکت در دوره داده نخواهد شد.            </div>
        </div>


        <div class="faq">
            <div class="faq_question">مدت زمان صدور گواهینامه شرکت در دوره‌ها چقدر است؟
                <span class="faq_question_toggle">+</span>
            </div>
            <div class="faq_answer">
پس از کسب حداقل نمره در آزمون تعیین شده، گواهینامه شرکت در دوره به شرکت کنندگان در اسرع وقت اعطا خواهد شد.            </div>
        </div>


    </div>
</div>