<div class="ow_telegram_list clearfix">
	<div class="clearfix"></div>
	{if $showList}
	{$menu}
	<div class="ow_superwide" style="width:100%;float:left;">
		{if $chatDesc}
		<div class="chatroom_info">
			{$chatDesc}
		</div>
		{/if}
		<div style="height: 20px;text-align: center">
			<a href="javascript://"><img id="items_wrapper_new_items_icon" onclick="go_to_last_item('')" src="{$new_items_img_url}"></a>
		</div>
		<div id="items_wrapper">
		{foreach from=$list item='entry'}
			<div class="item_wrapper ow_ipc ow_stdmargin clearfix" id="telegram_item_{$entry.id}">
				{$entry.authorView}
				<div class="ow_ipc_info">
					<div class="ow_ipc_content" style="display: inline;">
						<span style="white-space: pre-wrap;">{$entry.entry}</span>
					</div>
					<div class="clearfix">
						<div class="ow_ipc_toolbar ow_remark">
      		                <span class="ow_ipc_date">
      		          		    {text key='frmtelegram+at'} {$entry.timestamp}
								{if $delete_isAuthorized}
									<a href="" onclick="delete_item('{$delete_url}',{$entry.id})" >{text key='frmtelegram+remove'}</a>
								{/if}
							</span>
						</div>
					</div>
				</div>
			</div>
		{foreachelse}
		{text key='base+empty_list'}
		{/foreach}
		</div>
		<div style="height: 40px;text-align: center">
			<img id="items_wrapper_preloader" src="{$preloader_img_url}">
		</div>

			{if $addNew_isAuthorized}
			{form name="sendTelegram"}
			<table class="ow_table_1 ow_form" style="margin: 0">
				<tbody>
				<tr class="ow_alt1">
					<td width="1" class="ow_label">
						{label name='text'}
					</td>
					<td class="ow_value">
						{input name='text'}
						{error name='text'}
					</td>
				</tr>
				<tr class="ow_tr_last ow_center">
					<td colspan="2">
						{submit name='save'}
					</td>
				</tr>
				</tbody>
			</table>
			{/form}
			{/if}

	</div>
	{else}
		<div class="ow_nocontent">{text key='base+empty_list'}</div>
	{/if}
</div>