{form name='add_parent_email'}
<table class="ow_table_1 ow_form ow_automargin" style="min-width: 400px;">
    <tr class="ow_alt1">
        <td class="ow_center" colspan="2">
            {text key='frmcontrolkids+parents_kids_message' kidsAge=$kidsAge}
        </td>
    </tr>
    <tr class="ow_alt1">
        <td class="ow_label">{label name='parentEmail'}</td>
        <td class="ow_value">{input name='parentEmail'}</td>
    </tr>
    <tr>
        <td class="ow_center" colspan="2">{submit name='add' class='ow_button ow_ic_save'}</td>
    </tr>
</table>
{/form}