<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="init.php">
    <testsuites>
        <testsuite name="Selenium Tests">
            <directory>ow_core</directory>
            <directory>ow_plugins</directory>
            <directory>mobile/owm_core</directory>
            <directory>mobile/owm_plugins</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">../ow_core/</directory>
            <directory suffix=".php">../ow_frm/</directory>
            <directory suffix=".php">../ow_plugins/</directory>
            <directory suffix=".php">../ow_system_plugins/</directory>
            <directory suffix=".php">../ow_utilities/</directory>
        </whitelist>
    </filter>
    <!--<logging>
        <log type="coverage-clover" target="../ow_log/phpunit-coverage.xml"/>
    </logging>-->
</phpunit>