<div class="ow_instagram_widget clearfix">
    <div id="igw_empty" style="display: none;text-align: center;margin-bottom: 26px;">{text key='base+empty_list'}</div>
    <div id="igw_not_set" style="display: none;text-align: center;margin-bottom: 26px;">{text key='frminstagram+not_set'}</div>
    <div id="igw_cant_load" style="display: none;text-align: center;margin-bottom: 26px;">{text key='frminstagram+cant_load'}</div>
    <div id="igw_items" class="clearfix" style="display: none;"></div>
    <!--<div id="igw_preloader">-->
        <!--<img src="{$preloader_img_url}" style="max-width: 100%;">-->
    <!--</div>-->
</div>