{if !empty($list)}
    <div class="ow_user_list ow_full ow_stdmargin">
        {foreach from=$list item='item' name='user_list'}
            {assign var='dto' value=$item.dto}
            {assign var='id' value=$dto->id}

            {if $smarty.foreach.user_list.first}
            <div class="clearfix {cycle name="rows" values="ow_alt2, ow_alt1"}">
            {/if}

            {capture assign="fields"}
            {if isset($answerValues[$id])}
            {foreach from=$questionNameList item='questionName'}
            <div class="user_item_profile_questions_item">
                <span class="question_title">{$questionNameValues[$questionName]}: </span>
                {if isset($answerValues[$id][$questionName])}
                <span class="question_value">
                                {if !is_array($answerValues[$id][$questionName])}
                                    {$answerValues[$id][$questionName]}
                                {/if}
                                {if is_array($answerValues[$id][$questionName])}
                                    {foreach from=$answerValues[$id][$questionName] item='answer'}
                                        <span title="{$answer}">{$answer}</span>
                                    {/foreach}
                                {/if}
                            </span>
                {else}
                -
                {/if}
            </div>
            {/foreach}
            {/if}
            {/capture}

            {capture assign='toolbar'}
            {/capture}

            {decorator name="user_list_item" toolbar=$toolbar
            avatar=$avatars[$id]
            userUrl= $avatars[$id].url
            displayName= $avatars[$id].title
            fields=$fields
            set_class='ow_item_set3'}

            {if $smarty.foreach.user_list.iteration % 3 == 0 && !$smarty.foreach.user_list.last}
                </div>
                <div class="clearfix {cycle name="rows" values="ow_alt1,ow_alt2"}">
            {/if}
            {if $smarty.foreach.user_list.last}
                </div>
            {/if}
        {/foreach}
    </div>
    {$paging}
{else}
    <center>{text key="base+user_no_users"}</center>
{/if}