<div class="ow_automargin ow_superwide">
    {form name='setting'}
    <table class="ow_table_1 ow_form">
        <tr>
            <td class="ow_label">{label name="expired_cookie"}</td>
            <td class="ow_value">{input name="expired_cookie"} {error name='expired_cookie'}</td>
        </tr>
        <tr>
            <td class="ow_label">{label name="username_prefix"}</td>
            <td class="ow_value">{input name="username_prefix"} {error name='username_prefix'}</td>
        </tr>
        <tr>
            <td class="ow_label">{label name="email_postfix"}</td>
            <td class="ow_value">{input name="email_postfix"} {error name='email_postfix'}</td>
        </tr>
        <tr>
            <td class="ow_label">{label name="login_type_version"}</td>
            <td class="ow_value">{input name="login_type_version"} {error name='login_type_version'}</td>
        </tr>
        <tr>
            <td class="ow_label">{label name="join_type_version"}</td>
            <td class="ow_value">{input name="join_type_version"} {error name='join_type_version'}</td>
        </tr>
        <tr>
            <td class="ow_label">{label name="mandatory_email"}</td>
            <td class="ow_value">{input name="mandatory_email"} {error name='mandatory_email'}</td>
        </tr>
        <tr>
            <td colspan="2" class="ow_submit">{submit name="submit" class='ow_ic_save'}</td>
        </tr>
    </table>
    {/form}
</div>
