<?xml version="1.0" encoding="utf-8"?>
<plugin>
	<name>پیام‌ها</name>
	<key>mailbox</key>
	
    <author>Farzan</author>
    <authorEmail>test@test.com</authorEmail>
    <authorUrl>test.test.com</authorUrl>
	<developerKey>12345</developerKey>
	<build>11026</build>
    <copyright>2023</copyright>
	<license>No License</license>
    <licenseUrl>No License</licenseUrl>
	<category>
		<item>essential</item>
        <item>published</item>
	</category>
</plugin>
