<div class="ow_automargin ow_superwide">
    {form name='form'}

    <table class="ow_table_1 ow_form">
        <tr class="ow_alt1">
            <td class="ow_label">{label name='mobile_forum_group_visibile'}</td>
            <td class="ow_value">{input name='mobile_forum_group_visibile'}</td>
            <td class="ow_desc ow_small"></td>
        </tr>
        <tr class="ow_alt1">
            <td class="ow_label">{label name='subscribe_group_users_to_topic_checkbox'}</td>
            <td class="ow_value">{input name='subscribe_group_users_to_topic_checkbox'}</td>
            <td class="ow_desc ow_small">{text key="frmforumplus+subscribe_group_users_to_topic_checkbox_description"}</td>
        </tr>
        <tr class="ow_alt1">
            <td class="ow_label">{label name='headerForumGroupWidgetHtml'}</td>
            <td class="ow_value">{input name='headerForumGroupWidgetHtml'}</td>
            <td class="ow_desc ow_small"></td>
        </tr>
    </table>
    <div class="clearfix ow_stdmargin">
        {submit name='save' class='ow_ic_save ow_submit ow_right'}
    </div>
    {/form}
</div>