<div class="ow_forgot_password">
    {block_decorator name='box' style='text-align:center;' langLabel="$headerTextLabel"}
<!--        <div class="ow_forgot_password_text" style="padding: 0 5px 5px;">{text key='base+forgot_password_form_text'}</div>-->
        {form name='forgot-password'}
            {input name='email' class='ow_smallmargin'}

            <div class="clearfix captcha">
<!--                {label name='captcha'}-->
                <span class="ow_value ow_center">{input name='captcha'}{error name='captcha'}</span>
            </div>

            <div class="clearfix submit">
                <div class="ow_right" style="float: unset;margin-top: 20px;">
                    {submit name='submit' class='ow_positive'}
                    <span class="ow_button back">
                        <span class="ow_ic_house">
                            <input onclick="window.location='{$homeUrl}'" type="button" value="{text key='base+back'}" class="ow_ic_house">
                        </span>
                    </span>
                </div>
            </div>
        {/form}
    {/block_decorator}
</div>