<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>مدیریت پوسته‌ها</name>
	<key>frmthememanager</key>
	
ایجاد پوسته‌های جدید یا تغییر پوسته‌ فعلی    </description>
    <author>Farzan</author>
    <authorEmail>test@test.com</authorEmail>
    <authorUrl>test.test.com</authorUrl>
    <developerKey>12345</developerKey>
    <build>11058</build>
    <copyright>2023</copyright>
    <license>No License</license>
    <licenseUrl>No License</licenseUrl>
    <category>
        <item>private</item>
    </category>
</plugin>
