<div class="frmiosdetector">
    <a class="frmiosdetector_close_button" onclick="agreeFunction()"></a>
    <div class="ios_detector_icon"></div>
    <div class="ios_detector_txt">{text key="frmiosdetector+title_prefix"} {$siteName} {text key="frmiosdetector+title_suffix"}</div>
    <div class="ios_detector_help">
        <table class="ios_detector_help_table">
            <tr class="first_step">
                <th>{text key="frmiosdetector+step_1"}</th>
                <th class="icon"></th>
            </tr>
            <tr class="second_step">
                <th>{text key="frmiosdetector+step_2"}</th>
                <th class="icon"></th>
            </tr>
            <tr class="third_step">
                <th>{text key="frmiosdetector+step_3"}</th>
                <th class="icon">Add</th>
            </tr>
        </table>
    </div>
    <div class="ios_detector_button">
        <a class="ios_detector_button_agree" onclick="agreeFunction()">{text key="frmiosdetector+agree"}</a>
    </div>
</div>