
{$componentPanel}

<div class="ow_automargin ow_wide">
    {form name='eventSettingForm'}
    <table class="ow_table_1 ow_automargin">
        <tr class="ow_tr_first">
            <th class="ow_name ow_txtleft" colspan="2">
                <span class="ow_section_icon ow_ic_gear_wheel">{text key="event+event_settings"}</span>
            </th>
        </tr>
        <tr>
            <td>
                {input name='showEventCreatorCheckbox'}{label name='showEventCreatorCheckbox'}
            </td>
        </tr>
    </table>
    <div class="Button">
        {submit name='eventSettingFormSubmit' class='ow_button ow_ic_save'}
    </div>
    {/form}
</div>