{*

/**
* 
* All rights reserved.
*/

*}

{$menuCmp}
<div class="clearfix">
{if !empty($contentMenu)}{$contentMenu}{/if}
</div>
{if $viewType == 'all'}
<div class="frmmainpage" id="chatgroups_page">
    <div class="owm_newsfeed_status_update_circle" id="newsfeed-status-form-inv" ></div>
    <div class="owm_user_list owm_content_list owm_std_margin_bottom clearfix" style="margin: 0px 6px -6px 6px !important;">
        <div class="owm_list_search">
            <div class="owm_form_field_wrap">
                <input id="frmmainpage_chat_group_search" type="text" placeholder="{text key='frmmainpage+search'}">
            </div>
        </div>
    </div>
    <div class="owm_chat_group_list owm_list_page  clearfix">
        <div class="owm_list_item_parent">
        {$cmp}
        </div>
    <div id="chat_group-list-preloader" class="owm_user_list_preloader owm_preloader" style="display: none;float: left;width: 100%;"></div>
    </div>
    <div id="atLeastTwoChar" class="chat_and_groups_message" style="display: none">{text key="frmmainpage+two_characters_for_search"}</div>
    <div class="ow_nocontent chat_and_groups_message" style="display: none">{text key="frmmainpage+no_result"}</div>

    <div style="display: none">
        <div class="clearfix" id="new-chat-group-list">
            {if !empty($newChatGroupCmp)}

            {if !empty($showCreate)}
            <span class=" owm_fill_box clearfix" >
            <input type="button" id='create-new-group' value="{text key='groups+add_new'}" class=" new_group clearfix"
           onclick="location.href='{$createGroupUrl}';" >
            </span>
            {/if}

            <div class="owm_box owm_friendes_search_input">
                <div class="owm_list_search">
                    <div class="owm_form_field_wrap">
                        <input id="frmmainpage_friends_search" type="text" placeholder="{text key='frmmainpage+search'}: {text key='frmmainpage+username_or_realname'}">
                    </div>
                </div>
            </div>

            {$newChatGroupCmp}
            <div class="owm_user_list_preloader owm_preloader"></div>
            <div class="owm_user_list_search_preloader owm_preloader" style="display: none"></div>
            <div class="ow_nocontent" style="display: none">{text key="base+user_no_users"}</div>
            {else}
            <div class="ow_nocontent">{text key="base+user_no_users"}</div>
            {/if}

        </div>
    </div>

</div>
{elseif $viewType == 'chat'}
<div id="mailbox_page" class="frmmainpage">
<div class="owm_user_list owm_content_list owm_std_margin_bottom clearfix" style="margin: 0px 6px -6px 6px !important;">
    <div class="owm_list_search">
        <div class="owm_form_field_wrap">
            <input id="frmmainpage_messages_search" type="text" placeholder="{text key='frmmainpage+search'}">
        </div>
    </div>
</div>

<div class="owm_list_page clearfix">
    <div class="owm_user_list_preloader owm_preloader" style="display: none;visibility: visible;float: left;width: 100%;"></div>
    <div class="ow_nocontent" style="display: none">{text key="base+no_items"}</div>
    {foreach from=$conversationData item='item'}
    <div class="owm_list_item_with_image {if $item.conversationRead <1}owm_convers_item_active{/if}" onclick="location.href='{$item.url}';">
        <div class="owm_user_list_item">
            <div class="owm_avatar {if isset($item.imageInfo) && $item.imageInfo.empty}colorful_avatar_{$item.imageInfo.digit}{/if}">
                <img src="{$item.avatarUrl}" />
            </div>
            <div class="owm_user_list_name">
                <span id="mailboxSidebarConversationsItemDisplayName"><a href="{$item.url}">{$item.displayName}</a></span>
                {if !empty($item.unreadCount)}<span class="ow_unread_count" title="Unread Count">{$item.unreadCount}</span>{/if}
            </div>
            <div class="owm_sidebar_convers_mail_theme" id="mailboxSidebarConversationsItemSubject"><a>{$item.previewText}</a></div>
            <div class="owm_profile_online" id="mailboxSidebarConversationsItemOnlineStatus" {if $item.onlineStatus<1}style="display: none;"{/if}></div>
        <div class="owm_newsfeed_date">{$item.timeLabel}</div>
    </div>
</div>
{/foreach}
</div>
</div>

{elseif $viewType == 'group'}
    <div class="frmmainpage" id="usergroups_page">
        {if isset($groupAddLink)}
        <div class="owm_newsfeed_status_update_circle create_group" id="newsfeed-status-form-inv" onclick="window.location='{$groupAddLink}'"></div>
        {/if}
        {if !empty($groupList)}
        <div class="owm_group_list clearfix">
            {$groupList}
        </div>
        <div class="owm_user_list_preloader owm_preloader" style="display: none;float: left;width: 100%;"></div>
        {else}
        <div class="ow_nocontent">{text key='base+empty_list'}</div>
        {/if}
    </div>
{elseif $viewType == 'chanel'}
    <div class="frmmainpage" id="userchanels_page">
        {if isset($groupAddLink)}
        <div class="owm_newsfeed_status_update_circle create_group" id="newsfeed-status-form-inv" onclick="window.location='{$groupAddLink}'"></div>
        {/if}
        {if !empty($chanelList)}
        <div class="owm_group_list clearfix">
            {$chanelList}
        </div>
        <div class="owm_user_list_preloader owm_preloader" style="display: none;float: left;width: 100%;"></div>
        {else}
        <div class="ow_nocontent">{text key='base+empty_list'}</div>
        {/if}
    </div>
{/if}