<?xml version="1.0" encoding="utf-8"?>
<plugin>
    <name>plugin</name>
    <key>story</key>
    
        story
    </description>
    <author>Farzan</author>
    <authorEmail>test@test.com</authorEmail>
    <authorUrl>test.test.com</authorUrl>
    <developerKey>12345</developerKey>
    <build>10817</build>
    <copyright>2023</copyright>
    <license>No License</license>
    <licenseUrl>No License</licenseUrl>
    <category>
        <item>private</item>
    </category>
</plugin>
