{form name='select_language'}
    <div class="owm_box ow_stdmargin clearfix ">
        <div class="owm_box_cap">
            <div class="owm_form_field_label">{label name='languages'}</div>
            <div class="owm_form_field_value">{input name='languages'}</div>
        </div>
        <div class="owm_error_txt">{error name='languages'}</div>
        <div class="ow_button ow_center ow_stdmargin" style="margin: 10px">
            {submit name='save' class='ow_ic_new'}
        </div>
    </div>
{/form}