<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>مدیریت افزونه‌ها</name>
	<key>frmpluginmanager</key>
	
        مدیریت افزونه‌های درون شبکه اجتماعی
    </description>
    <author>Farzan</author>
    <authorEmail>test@test.com</authorEmail>
    <authorUrl>test.test.com</authorUrl>
    <developerKey>12345</developerKey>
    <build>10800</build>
    <copyright>2023</copyright>
    <license>No License</license>
    <licenseUrl>No License</licenseUrl>
    <category>
        <item>private</item>
    </category>
    <removable>0</removable>
    <visible>0</visible>
</plugin>
